@model Produto;

<br><br><br><br>
<div class="container-fluid">
	<div class="row">
       <div class="col-md-8">
            <form asp-controller="Produtos" asp-action="Excluir" method="post">
                  <h3>Realmente deseja excluir este produto?</h3>
                  <div class="form-group">
                    <input type="hidden" class="form-control" asp-for=Id>
                  </div>
              
                  <br>
                  <button type="submit" class="btn btn-danger">Confirmar</button>
                  <button type="submit" class="btn btn-primary" asp-action="Excluir">Cancelar</button>
            </form>
		</div>
		<div class="col-md-4">
		</div> 
	</div>
</div>